@charset "UTF-8";
/* CSS Document */

/* ---- //// BEGIN GENERAL PAGE STYLES ////---- */

body {
    background:#e5e4e4;  
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	margin: 0;   
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;  
	font-weight: 600;	
}


.clear {
	clear: both;
}

.logo {
	text-align: center;
}

.logo img {
	width: 100px;
}

img  {
    border:none;
}


/* ---- //// END GENERAL PAGE STYLES ////---- */







/* ---- //// BEGIN HEADER STYLES ////---- */

header {
	background: #72b9b5;
	max-width: 100%;
	height: 30px;
	margin: 0 auto;
	
}

header #header-left {
	width: 70%;
	float: left;
	display: inline-block;
}

header #header-left .menu-icon {
	width: 10%;
	height: 30px;
	margin: 0;
}

header #header-left .menu-icon button {
	background: #d8747e url("../images/menu-dots-smaller-screen_03.png") no-repeat center;
	border: none;
	width: 100%;
	height: 100%;
	margin: 0;
}

header #header-left .menu-icon img {
	position: relative;
	top: 19px;	
}

header #header-right {
	display: inline-block;
	width: 25%;
	float: right;
}

#header-right ul {
	margin: 0;
	padding: 0;
	float: right;
}

#header-right ul li {
	display: inline-block;
	float: left;
	text-align: center;
}

#header-right ul.home-icons {
	list-style: none;
}


#header-right ul li.compose-tweet {
	background: #64a3cf url("../images/twitter-icon-small-screen.png") no-repeat center;
	width: 30px;
	height: 30px;
}

#header-right ul li.add-feed {
	background: #e7995b url("../images/add-small-screen.png") no-repeat center;
	width: 30px;
	height: 30px;
}

#menu .menu-icon {
	background: #e28891;
	width: 30;
	height: 30px;
}

/* ---- //// END HEADER STYLES ////---- */



 
 









/* ---- //// BEGIN LOGIN WITH TWITTER STYLES ////---- */

.login-wrapper {
	width: 40%;
	height: 200px;
	background: #72b9b5 no-repeat;
	margin: 10% auto;
}

.login-wrapper h3 {
	color: #fff;
	text-align: center;
	font-weight: 400;
	padding: 20px 0 0 0;

}
.twitter-login {
	width: 70%;
	background: #e28891;
	text-align: center;
	margin: 0 auto;
	
}

.twitter-login-icon img {
	width: 25px;
	float: left;
	vertical-align: middle;
	padding: 10px 0 10px 20px;
	
	
}

.twitter-login form {
	padding: 3px;
	margin: 50px;
}

.twitter-submit {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size: 1.6em;
	background: #e28891 no-repeat ;
	color: #fff;
	margin: 0 auto;
	border: none;
	padding: 0;
	
	
}
 
#divcontainer {
  width: 900px;
  height: 800px;
      margin: 0 auto;
      padding: 3px;
  }

#makeitmove {
  
  border: 1px solid orange;
  cursor: move;
  
}

.clear {
	clear:both;
}
/* ---- //// END LOGIN WITH TWITTER STYLES ////---- */



/* ---- //// BEGIN LOGOUT STYLES ////---- */

#logout-wrapper {
	float: right;
	margin: 15px;
}

#logout-wrapper button {
	background: #e28891;
	color: #fff;
	padding: 8px 10px;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: 400;
	border-radius: 6px;
	border: none;
}

/* ---- //// END LOGOUT STYLES ////---- */






/* ---- //// BEGIN USER DETAIL STYLES ////---- */

#menu .profile {
	background: none repeat scroll 0 0 #E28891;
	text-align: center;
}

#menu p {
	margin: 0;
	
}

#menu img#avatar {
	-webkit-border-radius: 50% ;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #72B9B5;
	margin: 20px 0 0 0;
	
}

#menu .counts {
	margin: 0 4px;
}


#menu .counts p {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;  
	font-weight: 300;
	font-size: .7em;	
	color: #fff;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding: 10px 3px;
}


#menu .counts span.number-of-tweets p {
	border-top: 4px solid #72B9B5;
	width: 29%;
}


.counts span.number-following p {
	border-top: 4px solid #e7995b;
	width: 29%;
}


#menu .counts span.number-of-followers p {
	border-top: 4px solid #64a3cf;
	width: 29%;
}

/* ---- //// END USER DETAIL STYLES ////---- */







/* ---- //// BEGIN MENU STYLES //// ---- */

.main-navigation {
	position: relative;
}


.cbp-spmenu {
	background: #72b9b5;
	position: absolute;
}


.cbp-spmenu h3 {
	color: #fff;
	font-size: 1em;
	padding: 0 0 10px 0;
	margin: 0;
	font-weight: 400;
	background: #e28891;
	
}

.cbp-spmenu ul.menu-items {
	padding: 0 15px;
	list-style: none;
}

.cbp-spmenu ul.menu-items li.home {
	background: #72b9b5 url("../images/home-small-screen.png") no-repeat left;
		
}

.cbp-spmenu ul.menu-items li.notifications {
	background: #72b9b5 url("../images/notification-small-screen.png") no-repeat left;
		
}

.cbp-spmenu ul.menu-items li.trending {
	background: #72b9b5 url("../images/trends-small-screen.png") no-repeat left;
		
}

.cbp-spmenu ul.menu-items li.settings {
	background: #72b9b5 url("../images/setting-small-screen.png") no-repeat left;
		
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: .9em;
	font-weight: 400;
	font-family: 'Ubuntu', Arial, sans-serif;

}


.cbp-spmenu a:hover {
	background: #64a3cf;
}


.cbp-spmenu a:active {
	background: #e28891;
	color: #fff;
	font-family: 'Ubuntu', Arial, sans-serif;
}




/* ---- ORIENTATION-DEPENDANT STYLES FOR THE CONTENT OF THE MENU ---- */


.cbp-spmenu-vertical a {
	border-bottom: 1px solid #72b9b5;
	margin: 0 45px;
    padding: 15px;
}

.cbp-spmenu-vertical a img {
	margin: 0 10px 0 0;
	vertical-align: middle;
}


.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}


.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 100%;
	float: left;
}


.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #72b9b5;
}


/* ---- VERTICAL MENU THAT SLIDES FROM LEFT OR RIGHT ---- */

.cbp-spmenu-left {
	left: -240px;
	width: 0;
}



.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	width: 100%;
}


.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* ---- HORIZONTAL MENU THAT SLIDES FRO THE TOP OR BOTTOM ----  */

.cbp-spmenu-top {
	top: -150px;
}


.cbp-spmenu-bottom {
	bottom: -150px;
}


.cbp-spmenu-top.cbp-spmenu-open {
	top: 350px;
}


.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}


/* ---- PUSH CLASSES APPLIED TO THE BODY ---- */


.cbp-spmenu-push {
	overflow-y: hidden;
	position: relative;
	height: 800px;
	width: 100%;
	left: 0;
}


.cbp-spmenu-push-toright {
	left: 240px;
}


.cbp-spmenu-push-toleft {
	left: -240px;
}


/* ---- TRANSITIONS ---- */


.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	font-family: 'Ubuntu' Arial, sans-serif;
	float: left;
}


/* ---- //// END MENU STYLES ////---- */









/* ---- //// BEGIN TWITTER FEED STYLES ////---- */

.content-wrapper {
	width: 100%;
	float: left;
}

.content-wrapper >div {
	margin: 0;
	float: left;
	width: 100%;
}

.content-wrapper .col-1 {
	
}

.content-wrapper .col-2 {
	
}

.content-wrapper .col-3 {
	
}

#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;  
}
 
.tweets {
    font-family: Arial, Helvetica, sans-serif;
    padding:8px 0px 5px 10px;
    background-color:#FFF;
    color:#333;
    overflow:auto;
}
 
.tweets-feed h1 {
    color:#5F5F5F;
    margin:0px;
    padding:9px 0px 9px 0px;
    font-size:18px;
    font-weight:lighter;    
}
 
.twitter-article, #loading-container {
    width:258px;
    border-top:1px dotted #CCC;
    float:left; 
    padding:8px 0px 8px 0px;
}
 
.twitter-pic {
    float:left;
}
 
.twitter-pic img {
    float:left;
    border-radius:7px;  
    border:none;
     
}
 
/* -------- TEXT STYLING ------*/

.twitter-text {
    width:194px;
    float:left;
    font-size:11px;
    padding-left: 11px;
}
.twitter-text p {
    margin:0px;
    line-height:15px;   
}
.twitter-text a,  h1 a {
    color: #00acee;
    text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
    color: #00acee;
}
 
.tweet-time {
    font-size:10px;
    color:#878787;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
    color:#878787;
}
 
.tweetprofilelink a {
    color:#444;
}
.tweetprofilelink a:hover {
    color:#444;
}
 
/* -------- FEED  ACTIONS ------*/

#twitter-actions {
    width:75px;
    float:right;
    margin-right:5px;   
    margin-top:3px;
        display:none;
}
.intent {
    width:25px;
    height:16px;
    float:left; 
}
.intent a{
    width:25px;
    height:16px;
    display:block;
    background-image:url(../images/tweet-actions.png);
    float:left; 
} 
.intent a:hover{
    background-position:-25px 0px;
} 
 
#intent-retweet a{
    background-position:0px -17px;
} 
#intent-retweet a:hover{
    background-position:-25px -17px;
} 
#intent-fave a{
    background-position:0px -36px;
} 
#intent-fave a:hover{
    background-position:-25px -36px;
} 
 
/* -------- RETWEET INDICATOR ------*/
#retweet-indicator {
    width:14px;
    height:10px;
    background-image:url(../images/tweet-actions.png);
    background-position:-5px -54px;
    margin-top:3px;
    float:left;
}

.clear {
	clear:both;
}

/* ---- //// END TWITTER FEED STYLES ////---- */

/* ---- //// BEGIN SEARCH STYLES ////---- */

#s { 
	color:  #00acee;;  
	text-align: left;
	cursor: pointer;
	display: block; 
	width: 90%; 
}


/* ---- //// END SEARCH STYLES ////---- */


/* ---- //// BEGIN SAVED SEARCHES STYLES ////---- */


	.top-ten-searches {
		margin: 100px auto;
		padding: 50px;
		background: #666;
		
	}
	
	.top-ten-searches h1 {
		font-size: 2.2em;
		color: #fff;
		margin: 15px auto;
		
	}
	
	.top-ten-searches ul li {
		font-size: 2em;
		list-style: none;
		font-family: 'Roboto', Arial, sans-serif;
		line-height: 2;
		
	}
	
	.top-ten-searches ul li a {
		text-decoration: none;
		color: #fff;
		
	}
	
	.top-ten-searches ul li a:hover {
		text-decoration: none;
		color: #F90;
		
	}
	
	.saved-searches {
		margin: 100px auto;
		padding: 50px;
		background: #666;
	}
	
	.saved-searches ol li {
		font-size: 2em;
		font-family: 'Roboto', Arial, sans-serif;
		line-height: 2;
	}
	
	
	.saved-searches ol li a {
		text-decoration: none;
		color: #fff;
	}
	
	.saved-searches ol li a:hover {
		text-decoration: none;
		color: #F90;
	}


/* ---- //// END TOP TEN SEARCHES STYLES ////---- */


/* ---- MEDIA SELECTORS ---- */

@media (min-width: 240px) {  }

@media (min-width: 320px) {  }

@media (min-width: 480px) { 

	/* HEADER */
	
	header {
		background: #72b9b5;
		max-width: 100%;
		height: 50px;
		margin: 0 auto;
		
	}

	header #header-left .menu-icon {
		width: 50px;
		height: 50px;
	}
	
	
	header #header-left .menu-icon button {
		background: #d8747e url("../images/menu-icon.png") no-repeat center;
		background-size: 60% auto;
		width: 100%;
		height: 50px;
		margin: 0;
	}
	
	
	header #header-right {
		width: 25%;
	}
	
	
	#header-right ul li.compose-tweet {
		background: #64a3cf url("../images/twitter-icon.png") no-repeat center;
		background-size: 60% auto;
		width: 50px;
		height: 50px;
	}
	
	#header-right ul li.add-feed {
		background: #e7995b url("../images/add.png") no-repeat center;
		background-size: 60% auto;
		width: 50px;
		height: 50px;
	}
	
	#menu .menu-icon {
		width: 50px;
		height: 50px;
	}
	
	/* USER DETAILS */
	
	#menu img#avatar {
		-webkit-border-radius: 50% ;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: 2px solid #72B9B5;
		width: 100px;
		height: 100px;
		margin: 40px 0 0 0;
	
	}

	/* MENU */

	.cbp-spmenu h3 {
		font-size: 1em;
		padding: 0 0 20px 0;
		margin: 0;
		font-weight: 600;
		
	}
	
	
	.cbp-spmenu a {
		font-size: 1em;
		font-weight: 400;
	}
	
	
	/* ---- ORIENTATION-DEPENDANT STYLES FOR THE CONTENT OF THE MENU ---- */

	
	
	.cbp-spmenu-vertical a img {
		margin: 0 10px 0 0;
		vertical-align: middle;
	}
	
	
	.cbp-spmenu-horizontal {
		width: 100%;
		height: 150px;
	}
	
	
	.cbp-spmenu-horizontal h3 {
		height: 100%;
		width: 20%;
	}
	
	
	.cbp-spmenu-horizontal a {
		width: 20%;
		padding: 0.8em;
	}
	
	
	/* ---- VERTICAL MENU THAT SLIDES FROM LEFT OR RIGHT ---- */
	
	.cbp-spmenu-left {
		left: -240px;
		width: 0;
	}
	
	
	
	.cbp-spmenu-left.cbp-spmenu-open {
		left: 0px;
		width: 100%;
	}
 
 
 	/* CONTENT */


 }

@media (min-width: 768px) { 

	/* HEADER */
	
	header {
		max-width: 100%;
		height: 80px;
		
	}

	header #header-left .menu-icon {
		width: 80px;
		height: 80px;
	}
	
	
	header #header-left .menu-icon button {
		background: #d8747e url("../images/menu-icon.png") no-repeat center;
		width: 80px;
		height: 80px;
	}
	
	
	header #header-right {
		display: inline-block;
		width: 25%;
	}

	
	#header-right ul li.compose-tweet {
		background: #64a3cf url("../images/twitter-icon.png") no-repeat center;
		width: 80px;
		height: 80px;
	}
	
	#header-right ul li.add-feed {
		background: #e7995b url("../images/add.png") no-repeat center;
		width: 80px;
		height: 80px;
	}
	
	#menu .menu-icon {
		width: 80px;
		height: 80px;
	} 

	/* MENU */
	
	cbp-spmenu ul.menu-items li.home {
		background: #72b9b5 url("../images/home.png") no-repeat left;
		
	}
	
	.cbp-spmenu ul.menu-items li.notifications {
			background: #72b9b5 url("../images/notification.png") no-repeat left;
			
	}
	
	.cbp-spmenu ul.menu-items li.trending {
			background: #72b9b5 url("../images/trends.png") no-repeat left;
			
	}
	
	.cbp-spmenu ul.menu-items li.settings {
			background: #72b9b5 url("../images/settings.png") no-repeat left;
			
	}
	
	.cbp-spmenu-push {
		overflow-y: hidden;
		position: relative;
		height: 800px;
		width: 35%;
		left: 0;
	}
	
	.cbp-spmenu-vertical a {
		margin: 20px 70px;
		padding: 15px;

	}
	
	.cbp-spmenu h3 {
		color: #fff;
		font-size: 1.2em;
		padding: 0 0 20px 0;
		margin: 0;
		font-weight: 600;
		background: #e28891;
		
	}
	
	
	.cbp-spmenu a {
		display: block;
		color: #fff;
		font-size: 1.4em;
		font-weight: 400;
		font-family: 'Ubuntu', Arial, sans-serif;
	
	}
	
	/* CONTENT */
	
	 .content-wrapper {
		 width: 65%;
	}

	.content-wrapper >div {
		margin: 0;
		float: left;
		width: 239px;
	}
	
	.content-wrapper .col-1 {
		
	}
	
	.content-wrapper .col-2 {
		
	}
	
	.content-wrapper .col-3 {
		
	}

@media (min-width: 1024px) {
	
	/* HEADER */
	
	header {
		background: #72b9b5;
		max-width: 100%;
		height: 100px;
		margin: 0 auto;
		
	}

	header #header-left .menu-icon {
		width: 100px;
		height: 100px;
	}
	
	
	header #header-left .menu-icon button {
		background: #d8747e url("../images/menu-icon.png") no-repeat center;
		border: none;
		width: 100%;
		height: 100px;
		margin: 0;
	}
	
	
	header #header-left .menu-icon img {
		position: relative;
		top: 19px;	
	}
	
	header #header-right {
		width: 18%;
	}
	
	#header-right ul {
		float: none;
	}
	
	
	#header-right ul li.compose-tweet {
		background: #64a3cf url("../images/twitter-icon.png") no-repeat center;
		width: 50%;
		height: 100px;
	}
	
	#header-right ul li.add-feed {
		background: #e7995b url("../images/add.png") no-repeat center;
		width: 50%;
		height: 100px;
	}
	
	#menu .menu-icon {
		background: #e28891;
		width: 100px;
		height: 100px;
	} 

	/* MENU */
	
	
	
	.cbp-spmenu-push {
		overflow-y: hidden;
		position: relative;
		height: 800px;
		width: 35%;
		left: 0;
	}
	
	.cbp-spmenu-vertical a {
		border-bottom: 1px solid #72b9b5;
		margin: 20px 70px;
		padding: 15px;

	}

	
	/* MENU */ 

	.cbp-spmenu-push {
		overflow-y: hidden;
		position: relative;
		height: 800px;
		width: 25%;
		left: 0;
	}
	
	/* CONTENT */
	
	 .content-wrapper {
		 width: 75%;
	}

	.content-wrapper >div {
		margin: 0;
		float: left;
		width: 246px;
	}
	
	.content-wrapper .col-1 {
		
	}
	
	.content-wrapper .col-2 {
		
	}
	
	.content-wrapper .col-3 {
		
	}
	
	

}


@media (min-width: 1200px) {  
	/* MENU */ 

	/* CONTENT */
	
	.content-wrapper >div {
		margin: 0;
		float: left;
		width: 264px;
	}

}
