@charset "UTF-8";
/* CSS Document */

/* ---- //// BEGIN GENERAL PAGE STYLES ////---- */

body {
    background: #292b2c !important;  
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	margin: 0;   
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;  
	font-weight: 600;	
}


.clear {
	clear: both;
}

.logo {
	text-align: center;
}

.logo img {
	width: 100px;
}

img  {
    border:none;
}


/* ---- //// END GENERAL PAGE STYLES ////---- */







/* ---- //// BEGIN HEADER STYLES ////---- */

header {
	background: #711232;
	max-width: 100%;
	height: 30px;
	margin: 0 auto;
	
}

header #header-left {
	width: 70%;
	float: left;
	display: inline-block;
}

header #header-left .menu-icon {
	width: 10%;
	height: 30px;
	margin: 0;
}

header #header-left .menu-icon button {
	background: #d8747e url("../images/menu-dots-smaller-screen_03.png") no-repeat center;
	border: none;
	width: 100%;
	height: 100%;
	margin: 0;
}

header #header-left .menu-icon img {
	position: relative;
	top: 19px;	
}

header #header-right {
	display: inline-block;
	width: 25%;
	float: right;
}

#header-right ul {
	margin: 0;
	padding: 0;
	float: right;
}

#header-right ul li {
	display: inline-block;
	float: left;
	text-align: center;
}

#header-right ul.home-icons {
	list-style: none;
}


#header-right ul li.compose-tweet {
	background: #64a3cf url("../images/twitter-icon-small-screen.png") no-repeat center;
	width: 30px;
	height: 30px;
}

#header-right ul li.add-feed {
	background: #e7995b url("../images/add-small-screen.png") no-repeat center;
	width: 30px;
	height: 30px;
}

#menu .menu-icon {
	background: #e28891;
	width: 30;
	height: 30px;
}

/* ---- //// END HEADER STYLES ////---- */







/* ---- //// BEGIN SIDEBAR STYLES //// ---- */


#sidebar {

	width: 20%;
	height: 600px;
	float: left;
	margin: 20px 0 0 20px;
}






/* ---- //// END SIDEBAR STYLES ////---- */


/* ---- //// BEGIN SEARCH STYLES ////---- */


input[type="search"] {
	-webkit-appearance:caret; 
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 8px 58.1px 8px 5px;
	float: left;
	border: 0px;
	
}

input[type=text]{
	color:#fff;
}

input[type=button], input[type=button]:hover {
	-webkit-appearance:caret;
	position:relative; 
	/*left:-3px;*/
	border: 0px solid #adc5cf;
	background: #0f6b6b; /* Old browsers */
	color:#fff;
	cursor: pointer;
	padding: 7px 10px;
}



#s { 
	background: #59C4BB;
	color:  #fff;  
	text-align: left;
	cursor: pointer;
	display: block; 
}

.search {
	border-bottom: 10px solid #292b2c;
	background: #59c4bc;
	
}

input:focus{
    outline: 0;
}

/* ---- //// END SEARCH STYLES ////---- */


/* ---- //// BEGIN SAVED SEARCHES STYLES ////---- */

	form.search {
		
	}
	
	.saved {
		padding: 5px 0;
		background: #59c4bc;
		
	}
	
	.saved p {
		font-size: 1em;
		color: #fff;
		margin: 15px auto;
		
	}
	
	.saved ul {
		margin: 0;
		padding: 0 0 0 15px;
	}
	
	.saved ul li {
		font-size: 2em;
		list-style: none;
		font-family: 'Roboto', Arial, sans-serif;
		line-height: 2;
		
	}
	
	.saved ul li a {
		text-decoration: none;
		color: #fff;
		
	}
	
	.saved ul li a:hover {
		text-decoration: none;
		color: #F90;
		
	}
	


/* ---- //// END TOP TEN SEARCHES STYLES ////---- */







