@charset "UTF-8";
/* CSS Document */

/* ---- //// BEGIN GENERAL PAGE STYLES ////---- */

body {
    background: #292b2c !important;  
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	margin: 0;   
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;  
	font-weight: 600;	
}


.clear {
	clear: both;
}

.logo {
	text-align: center;
}

.logo img {
	width: 100px;
}

img  {
    border:none;
}


/* ---- //// END GENERAL PAGE STYLES ////---- */







/* ---- //// BEGIN HEADER STYLES ////---- */

header {
	background: #711232;
	max-width: 100%;
	height: 30px;
	margin: 0 auto;
	
}

header #header-left {
	width: 70%;
	float: left;
	display: inline-block;
}

header #header-left .menu-icon {
	width: 10%;
	height: 30px;
	margin: 0;
}

header #header-left .menu-icon button {
	background: #d8747e url("../images/menu-dots-smaller-screen_03.png") no-repeat center;
	border: none;
	width: 100%;
	height: 100%;
	margin: 0;
}

header #header-left .menu-icon img {
	position: relative;
	top: 19px;	
}

header #header-right {
	display: inline-block;
	width: 25%;
	float: right;
}

#header-right ul {
	margin: 0;
	padding: 0;
	float: right;
}

#header-right ul li {
	display: inline-block;
	float: left;
	text-align: center;
}

#header-right ul.home-icons {
	list-style: none;
}


#header-right ul li.compose-tweet {
	background: #64a3cf url("../images/twitter-icon-small-screen.png") no-repeat center;
	width: 30px;
	height: 30px;
}

#header-right ul li.add-feed {
	background: #e7995b url("../images/add-small-screen.png") no-repeat center;
	width: 30px;
	height: 30px;
}

#menu .menu-icon {
	background: #e28891;
	width: 30;
	height: 30px;
}

/* ---- //// END HEADER STYLES ////---- */







/* ---- //// BEGIN SIDEBAR STYLES //// ---- */


#sidebar {
	background: #59C4BB; 
	color: #fff;
	width: 20%;
	height: 600px;
	float: left;
	margin: 20px 0 0 20px;
}

.ui-accordion .ui-accordion-icons {
	background: #59C4BB;
	color: #fff;
	
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-radius: none !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0 !important;	
}


.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-radius: none !important;	
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-radius: none !important;	
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border-bottom: 1px #FFFFFF solid;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border-bottom: 1px #FFFFFF solid !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: background: #59C4BB;
	border: none;
}


.ui-widget-content {
	background: #59C4BB; 
	color: #fff;
	border: none;
}

.ui-helper-reset ul {
	margin: 0;
	padding: 0;
}

.ui-helper-reset ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}



/* ---- //// END SIDEBAR STYLES ////---- */


/* ---- //// BEGIN SEARCH STYLES ////---- */


.search {
		background: #59C4BB; 
}

input[type="search"] {
	-webkit-appearance:none; 
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 8px 44px 8px 5px;
	float: left;
	border: 0px;
	
}

input[type=text]{
	color:#fff;
}

input[type=button], input[type=button]:hover {
	-webkit-appearance:none;
	position:relative; 
	/*left:-3px;*/
	border: 0px solid #adc5cf;
	background: #0f6b6b; /* Old browsers */
	color:#fff;
	cursor: pointer;
	padding: 7px 10px;
}

input[type=button], #update {
	background:  url("./images/search.png") no-repeat fixed center #0f6b6b;
}


#s { 
	background: #59C4BB;
	color:  #fff;  
	text-align: left;
	cursor: pointer;
	display: block; 
}

.search {
	border-bottom: 10px solid #292b2c;
	background: #59c4bc;
	
}

input:focus{
    outline: 0;
}

/* ---- //// END SEARCH STYLES ////---- */


/* ---- //// BEGIN SAVED SEARCHES STYLES ////---- */

	
	
	.saved {
		padding: 5px 0;
		background: #59c4bc;
		
	}
	
	.saved p {
		font-size: 1em;
		color: #fff;
		margin: 15px auto;
		
	}
	
	.saved ul {
		margin: 0;
		padding: 0 0 0 15px;
	}
	
	.saved ul li {
		font-size: 1em;
		list-style: none;
		font-family: 'Roboto', Arial, sans-serif;
		line-height: 2;
		
	}
	
	.saved ul li a {
		text-decoration: none;
		color: #fff;
		
	}
	
	.saved ul li a:hover {
		text-decoration: none;
		color: #F90;
		
	}
	


/* ---- //// END SAVED SEARCHES STYLES ////---- */



/* ---- //// GRAPH STYLES ////---- */

.content {
	
	
}

section {
	margin: 0 auto;
	width: 60%;
	height: 350px;
}

#chart_container {
			position: relative;
			font-family: Arial, Helvetica, sans-serif;
			margin: 45px 20px 0 45px;
			float:left;
}

#chart {
		position: relative;
		left: 40px;
		float: left;
		
}


#y_axis {
		position: absolute;
		top: 0px;
		bottom: 0;
		width: 40px;
}



footer {
	width: 900px;
	margin: 0 auto;
	padding: 0 0 0 160px;
}

.clear {
	clear: both;
}

